{% extends "_layout.html" %}

{% block body %}
    <div class="container">

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <h1 class="title">{{ recipe.name }}</h1>
        <div class="box"><p style="white-space: pre-wrap">{{ recipe.content }}</p></div>
        <p>Likes: {{ recipe.likes }}</p>

        <form action="{% url 'recipes:like' recipe.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="button is-primary" value="Like">
        </form>
    </div>
{% endblock %}