{% extends "_layout.html" %}

{% block body %}
    <div class="container page-container">
        <h1 class="title">{{ title }}</h1>

        <form action="{{search_url}}" method="get">
            <div class="is-centered search-bar">
                <p class="control has-icons-left">
                    <input  name="query" class="input" type="text" placeholder="Search" value="{{search_query}}">
                    <span class="icon is-left"><ion-icon name="search" aria-hidden="true"></ion-icon></span>
                </p>
                <a class="display-inline" href="{{search_url}}">
                    <button type="submit" class="button is-primary">Search</button>
                </a>
            </div>
        </form>

        {% include "recipes/recipe_table.html" with recipe_list=recipe_list %}

        <a href="{% url 'recipes:add' %}">
            <button class="button is-primary">Add Recipe</button>
        </a>
    </div>

    {% include "_pagination.html" with list=recipe_list query=request.GET.query|urlencode %}

{% endblock %}