{% extends "_layout.html" %}

{% block body %}
    <div class="container">
        <h1 class="title"> Recipes </h1>

        {% if recipe_list %}
            <table class="table is-bordered is-striped">
                <thead>
                <tr>
                    <th>Recipe</th>
                    <th>Likes</th>
                <tr>
                </thead>
                <tbody>
                {% for recipe in recipe_list %}
                    <tr>
                        <td><a href="{% url 'recipes:details' recipe.id %}">{{ recipe.name }}</a></td>
                        <td>{{ recipe.likes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No recipes found.</p>
        {% endif %}

        {% include "_pagination.html" with list=recipe_list %}

        <a href="{% url 'recipes:add' %}">
            <button class="button is-primary">Add Recipe</button>
        </a>
    </div>
{% endblock %}