{% extends "_layout.html" %}

{% block body %}
<div class="container">
    <h1 class="title">New Recipe</h1>
    <form action="{% url 'recipes:add' %}" method="post" class="width-50">
        {% csrf_token %}
        <div class="field">
            <label class="label">{{ form.name.label }}</label>
            <div class="control">
                <input class="input" type="text" placeholder="Recipe name" name="{{ form.name.html_name }}">
            </div>
        </div>

        <div class="field">
            <label class="label">{{ form.content.label }}</label>
            <div class="control">
                <textarea class="textarea" name="{{ form.content.html_name }}"></textarea>
            </div>
        </div>
        <input class="submit" type="submit" value="Add Recipe">
    </form>
</div>
{% endblock %}