{% extends "_layout.html" %}

{% block body %}
    <div class="container">
        <div style="padding: 20px">
            <h1 class="title display-inline">{{ recipe.name }}</h1>
            <a aria-label="edit" class="button display-inline has-tooltip-right" data-tooltip="Edit" href="{% url 'recipes:edit' recipe.id %}">
                <ion-icon name="create"></ion-icon>
            </a>
            <a aria-label="delete" class="button margin-left-10 display-inline has-tooltip-right" data-tooltip="Delete" href="{% url 'recipes:delete' recipe.id %}">
                <ion-icon name="trash"></ion-icon>
            </a>
        </div>

        {% if recipe.recipe_image %}
            <div class="columns">
                <img src="{{ recipe.recipe_image.url }}" class="recipe-image" alt="recipe image">
            </div>
        {% endif %}

        <div class="box"><p class="whitespace-pre-wrap has-text-grey-darker">{{ recipe.content }}</p></div>
        <p>Author: {{ recipe.user.get_full_name }}</p>
        <p>Likes: {{ recipe.likes }}</p>

        <form class="padding-top-10" action="{% url 'recipes:like' recipe.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="button" value="Like">
        </form>

        {% include "recipes/add_comment.html" with recipe_id=recipe.id %}

        <h5 class="subtitle is-5">Comments</h5>

        {% if recipe.comments %}
            {% for comment in recipe.comments.all %}
                <div class="box width-50">
                    <p class="whitespace-pre-wrap has-text-grey-darker">{{ comment.content }}</p>

                    <hr class="solid">

                    <div class="columns margin-top-10">
                        <div class="is-inline">
                            <img src="{{ comment.user.profile.profile_picture.url }}" class="small-rounded" alt="avatar">
                        </div>

                        <div class="is-inline is-pulled-left">
                            <p class="column whitespace-pre-wrap is-size-6">Commented by {{ comment.user.get_full_name }}, on {{ comment.created_date }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
