{% extends "_layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div style="padding: 20px 0">
            <h1 class="title display-inline">Your profile</h1>
        </div>

        <div class="container">
        <form method="post" action="{% url 'users:edit_profile' %}"  enctype="multipart/form-data" class="width-50">
            {% csrf_token %}

            <div class="columns">
                <img src="{{ profile.profile_picture.url }}" class="rounded" alt="avatar">
                <span class="column margin-top-30">{{ profile.user.get_full_name }}</span><br>
            </div>

            <span class="margin-top-50">Email: {{ profile.user.email }}</span>

            <div class="margin-top-10 field">
                <label class="label is-inline">Profile details
                    <textarea class="textarea" name="profile_info">{{ profile.profile_info }}</textarea>
                </label>
            </div>

            <div class="field">
                <label class="is-inline">Re-upload profile picture:
                    <input type="file" name="profile_picture" class="clearablefileinput" id="id_profile_picture">
                </label>
            </div>

            <div class="field">
                <button type="submit" id="comment-submit" class="button is-primary is-pulled-right">Save</button>
            </div>
        </form>
{#            <form action="{% url 'users:edit_profile' %}" enctype="multipart/form-data" method="post" class="width-50">#}
{#                {% csrf_token %}#}
{#                {{ form|crispy }}#}
{#                <div class="field">#}
{#                    <button type="submit" class="button is-primary">Save</button>#}
{#                </div>#}
{#            </form>#}

        </div>

    </div>
{% endblock %}