.width-50 {
    width: 50%;
}

.padding-20 {
    padding: 20px;
}

.margin-20 {
    margin: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10{
    margin-left: 10px;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
}

.display-inline {
    display: inline;
}

.list-pagination{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}